#php_value date.timezone 'Asia/Jakarta'
RewriteEngine On
#RewriteCond %{HTTPS} off
#RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
RewriteBase /
RewriteRule ^login$ login.php [L]
RewriteRule ^logout$ login.php?action=logout [L]
RewriteRule ^profile$ /menu.php?s=profile [L]
RewriteRule ^upload-subtitle$ /menu.php?s=upload-subtitle [L]
RewriteRule ^subtitle-manager$ /menu.php?s=subtitle-manager [L]
RewriteRule ^copy-drive$ /menu.php?s=copy-drive [L]
RewriteRule ^upload-link$ /menu.php?s=upload-link [L]
RewriteRule ^upload-file$ /menu.php?s=upload-file [L]
RewriteRule ^shared-file$ /menu.php?s=shared-file [L]
RewriteRule ^file-manager$ /menu.php?s=file-manager [L]
RewriteRule ^user-manager$ /menu.php?s=user-manager [L]
RewriteRule ^upload-folder$ /menu.php?s=upload-folder [L]
RewriteRule ^subscene$ /menu.php?s=subscene [L]
RewriteRule ^broken$ /menu.php?s=broken [L]
RewriteRule ^setting$ /menu.php?s=setting [L]
RewriteRule ^page/terms-conditions$ page.php?s=terms-conditions [L]
RewriteRule ^page/privacy-policy$ page.php?s=privacy-policy [L]
RewriteRule ^page/copyright-policy$ page.php?s=copyright-policy [L]
RewriteRule ^file/([a-zA-Z0-9]+)$ download.php?id=$1 [L]
RewriteRule ^stream/([a-zA-Z0-9]+)$ multi.php?id=$1 [L]
RewriteRule ^ajax/([a-zA-Z0-9]+)$ ajax.php?ajax=$1 [L]
RewriteRule ^secure/([a-zA-Z0-9]+)$ secure.php?id=$1 [L]
RewriteRule ^image/([a-zA-Z0-9]+)$ secure.php?poster=$1 [L]
RewriteRule ^download/([a-zA-Z0-9]+)$ mirror-download.php?id=$1 [L]
RewriteRule ^drivestream/([^/]*)/label/([^/]*)$ /drive-stream.php?download=$1&label=$2 [L]
